<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="https://www.proec.unicamp.br/" target="_blank"><img class="logo-proec" src="img/logos/proec-isologo.svg"></a>
                <a class="navbar-brand page-scroll" href="#page-top"><img class="logo-museu" src="img/logos/mc.svg"></a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="intro-text">
            </div>
        </div>
    </header>
